h1{
	text-align: center;
}

h3{
	text-align: center;
}

body{
	background-image: url('bg.png');
	color: white;
	background-size: cover;
	font-size: 20px;
}

a{
	color: yellow;
	border-style: dashed;
	border-color: blue;
}

footer{
	text-align: center;
}

.a{
	margin-left: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.b{
	margin-left: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.c{
	margin-left: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.d{
	margin-left: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.e{
	margin-left: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.f{
	margin-left: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.g{
	margin-left: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.h{
	margin-left: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.i{
	margin-left: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.j{
	margin-left: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.k{
	margin-left: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.l{
	margin-left: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.m{
	margin-left: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.n{
	margin-left: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.o{
	margin-left: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.p{
	margin-left: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}

